@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto-Regular.ttf);
}
:root{
  --white: #fafafa;
  --grey: #cbd5e1;
  --blue:  #22d3ee;
  --lightgrey: #6b7280;
  font-family: Roboto;
}
body{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.8fr 4fr;
  grid-template-areas: "sidebar header" "sidebar content";
}
.sidebar{
  background-color: var(--blue);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5%;
  font-weight: bold;
}
.header {
  background-color: var(--white);
  grid-area: header;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 1fr 2fr;
}
.content{
  background-color: var(--grey);
  grid-area: content;
}
.logo {
  display: flex;
  flex-wrap: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.s-logo{
  display: flex;
  flex-wrap: row;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  gap: 25px;
}
.links{
  display: flex;
  flex-direction: column;
  
  gap: 10px;
}
.settings{
  display: flex;
  flex-direction: column;
  
  gap: 10px;
}
.Dashboard{
  font-size: 1.5rem;
  color: var(--white);
}
.white-sprite {
  filter: invert(100%)
}
.small-item{
  height: 1.5rem
}
.sidebar-text{
  font-size: 1rem;
  color: var(--white);
}
.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.search input[type="search"]{
  width: 85%;
  background-color: var(--grey);
  border-radius: 5px;
  border: none;
}
.search img{
  padding-left: 20px;
  padding-top: 10px;
}
.profile{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}
.large-profile{
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}
.name{
  font-weight: bold;
  font-size: 1rem;
}
.profile-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.profile-img{
  display:flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-description{
  font-weight: bold;
  font-size: 0.8rem;
}
.p-name{
  font-weight: bold;
  font-size: 1.5rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.buttons button {
  background-color: var(--blue);
  border-radius: 10px;
  border: none;
  height: 40%;
  padding-bottom: 30px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
.content{
  grid-area: content;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "projects announcements" "projects trending";
}
.announcements{
  grid-area: announcements;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}
.a-text{
  padding-top: 20px;
  font-size: 1rem;
  font-style: bold;
}
.announcement-list{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}
.a-title{
 font-weight: bold;
 font-size: 0.8rem;
}
.a-random{
  font-size: 0.4rem;
   color: var(--lightgrey)
}
.announcement-item {
  border-bottom: 1px solid #6b7280;
}
.trending{
  grid-area: trending;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}
.trending-list{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
}
.small-profile{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5px;
}
.small-item{
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.a-description{ 
  font-size: 0.8rem;
}
.a-name{
  color: var(--lightgrey);
  font-size: 0.8rem;
}
.projects{
  grid-area: projects;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 10px;
  gap: 5px;
  padding-right: 10px;
}
.project-list{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px
}
.project-item{
  background: var(--white);
  border-left: 5px solid var(--blue);
  display: flex;
  flex-direction: column;
  height: 20vh;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.project-random{
  font-size: 0.6rem;
   color: var(--lightgrey)
}
.project-title{
  font-weight: bold;
  font-size: 0.8rem;
}
.project-images{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5px;
  gap: 10px;
}
.project-small-item{
  height: 1.5rem
}
